.area-editor{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  max-height: calc(100vh - 67px);
  overflow: hidden;
  app-toolbar {
    width: 250px;
    overflow-y: auto;
    background: #fff;
    box-shadow: 2px 0px 5px 0 rgba(0, 0, 0, 0.26);
  }
  app-hoja {
    width: calc(100vw - 500px);
    overflow-y: auto;
  }
  app-estructura {
    width: 250px;
    overflow-y: auto;
    background: #fff;
  }
}
