.contenido-header {
    padding: 20px;
    text-align: center;
    background-color: #e6e6e6;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    h1.titulo {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 25px;
      margin: 0;
    }
}
