<div class="contenido-header">
  <h1 class="titulo">
    <span class="glyphicon glyphicon-edit"></span>
    Editor de Contratos
  </h1>
  <div class="tools">
    <ul>
      <li>
        <button (click)="previewDocument()"
                [title]="inPreviewMode ? 'Cerrar vista previa' : 'Vista previa'">
          <span class="glyphicon"
            [class.glyphicon-eye-open]="!inPreviewMode"
            [class.glyphicon-eye-close]="inPreviewMode">
          </span>
        </button>
      </li>
      <li>
        <button title="Descargar" (click)="downloadDocument()">
          <span class="glyphicon glyphicon-download-alt"></span>
        </button>
        <a href="#" class="downloadPDF" target="_blank"
          download="pdf.pdf"
          id="downloadPDF">
          Descargar
        </a>
      </li>
    </ul>
  </div>
</div>
