<div class="contenido-header">
  <h1 class="titulo">
    <span class="glyphicon glyphicon-edit"></span>
    Editor de Contratos
  </h1>
  <div class="tools">
    <ul>
      <li>
        <button title="Vista Previa" (click)="previewDocument()">
          <span class="glyphicon glyphicon-eye-open"></span>
        </button>
      </li>
      <li>
        <button title="Descargar" (click)="downloadDocument()">
          <span class="glyphicon glyphicon-download-alt"></span>
        </button>
      </li>
    </ul>
  </div>
</div>
