.contenido-header {
    padding: 20px;
    text-align: left;
    background-color: #f3f3f4;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
    display: flex;
    align-items: center;
    justify-content: space-between;
    .tools ul {
      list-style: none;
      > li {
        display: inline-block;
        margin-left: 10px;
        > button {
          border: none;
          background: none;
          font-size: 18px;
          color: #ed6811;
        }
        > a.downloadPDF{
          font-size: 0;
          width: 0;
          height:0;
          visibility: hidden;
          display: inline-block;
        }
      }

    }
    h1.titulo {
      text-transform: uppercase;
      font-weight: 600;
      font-size: 25px;
      margin: 0;
      color: #ed6811;
      line-height: 25px;
      span{
        display: inline-block;
        margin-right: 10px;
        vertical-align: top;
      }
    }
}

.contenido-header {

}
