.contenido-estructura{
  height: 100%;
  padding: 30px 20px;
  color: #555;
}

p.titulo-estructura {
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
}

.bloque-por-hoja {
  margin-bottom: 20px;
  .hoja-separador {
    margin-bottom: 15px;
    font-weight: bold;
  }
  ul.elementos {
    list-style: none;
    font-size: 12px;
    li {
      margin-bottom: 10px;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      cursor: pointer;
      span {
        margin-right: 8px;
        display: block;
        width: 30px;
        position: relative;
        i{
          display: inline-block;
          margin-right: 3px;
          vertical-align: baseline;
          font-size: 9px;
        }
        // &:after {
        //   content: ']';
        //   position: absolute;
        //   right: 0;
        // }
      }
      div.content {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: 14px;
        max-height: 14px;
        width: calc(100% - 40px);
      }
    }
  }
}
