<div class="contenido-estructura">
  <div class="inner">
    <p class="titulo-estructura">
      Árbol del documento
    </p>
    <div class="bloque-por-hoja" [id]="'sheet_'+s" *ngFor="let sheet of editableBlocks; let s=index">
      <ul class="elementos" dnd-sortable-container [sortableData]="sheet">
        <li *ngFor="let block of sheet; let i=index;"
            dnd-sortable [sortableIndex]="i" (onDropSuccess)="reOrderSuccess($event)">
          <span>
            <i class="glyphicon glyphicon-menu-hamburger"></i>
            {{i+1}}
          </span>
          <ng-container [ngSwitch]="block.type">
            <div class="content" *ngSwitchCase="'signers'">Área de Firmantes</div>
            <div class="content" *ngSwitchCase="'space'">[ESPACIO]</div>
            <div class="content" *ngSwitchCase="'lorem'">Lorem</div>
            <div [innerHTML]="block.content" class="content" *ngSwitchDefault>...</div>
          </ng-container>
        </li>
      </ul>
    </div>
  </div>
</div>
