<div class="contenedor-hoja" (click)="saveOpenEditable($event)" id="sheetsContainer">
  <div class="hoja" [id]="'sheet_'+s" [class.loaded]="pageLoaded" [class.inPreview]="previewMode"
       *ngFor="let sheet of editableBlocks; let s=index">
    <div class="inner-hoja" [id]="'innerSheet_'+s">

      <div class="block" *ngFor="let editable of sheet; let ed=index" [class.active]="i===activeBlock">
        <button (click)="deleteBlock(s,ed)" type="button" class="close" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="editable-content {{editable.type}}" (click)="edit(s,ed,$event)" [id]="'sheet_'+s+'_edit_'+ed"
          [innerHTML]="editable.content | safeHtml">
        </div>
      </div>

      <div class="page-break" [style.top]="(pageHeight*page)+'px'" *ngFor="let page of pageCounter | times">
        <span>Página {{page}}</span>
      </div>
    </div>
    <ng-container *ngIf="mapSigners.length > 0">
      <div class="map-area" *ngFor="let mapSigner of mapSigners; let i=index"
           [style.top]="mapSigner.top" [style.left]="mapSigner.left" [title]="mapSigner.idSigner">
      </div>
    </ng-container>
  </div>
</div>
