.contenedor-hoja {
  margin: 20px auto 30px;
  position: relative;
  overflow: hidden;
  padding-top: 10px;
}

div.hoja {

    background: #fff;
    width: 21cm;
    height: 29.7cm;
    display: block;
    margin: 0 auto;
    padding: 1.5cm;
    margin-bottom: .5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,.5);
    overflow: visible;
    box-sizing: border-box;
    font-size: 12pt;
    position: relative;
    zoom: .8;
    font-family: Arial,Lucida Grande,sans-serif;
    &.loaded{
      min-height: 29.7cm;
      height: auto;
    }

    .inner-hoja {

      height: 100%;
      // overflow: hidden;
      // padding: 10px 0;

      div.block{

        margin-bottom: 10px;
        position: relative;

        > button{
          position: absolute;
          top: -10px;
          right: 10px;
          background: #fff;
          display: block;
          padding: 0 5px;
          opacity: 1;
          color: #949494;
          display: none;
        }

        &:hover{
          border-color: #000;
          > button{
            display: block;
          }
        }

        &.active{
          &:hover{
            > button{
              display: none;
            }
          }
        }

        .editable-content{
          border: 1px dashed #aaa;
          border-radius: 5px;
          padding: 10px;
          cursor: pointer;
        }

      }

      .page-break {

          width: 100%;
          position: absolute;
          height: 1px;
          border: 1px dashed #929292;
          left: 0px;
          right: 0;
          text-align: left;
          color: #080808;
          font-size: 11px;
          margin-top: 1.5cm;
          opacity: 0.5;
          span {
            position: absolute;
            top: 50%;
            left: 0px;
            display: block;
          }

      }


    }


}
