/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
  outline: none;
}
p,ul,ol{
  margin:0;
}
*:before,
*:after {
  box-sizing: inherit;
}

html, body{
  font-family: 'Open Sans', sans-serif;
}

.editable-content{
  * {
    pointer-events: none;
  }
  ul,ol{
    padding-left: 20px!important;
  }
  &.signers{
    table{
      display: inline-block;
    }
  }
}
.signerSpace {
  display: inline-block;
  // width: 220px;
  width: 220px;
  margin: 0 20px 10px;
  text-align: center;
  &:nth-last-child(1),&:nth-last-child(2){
    margin-bottom: 0;
  }
  .espacioFirma {
    // border-bottom: 1px solid #000;
    // height: 35px;
    position: relative;
  }
  hr{
    margin: 0;
    height: 1px;
    border-top: 1px solid #000;
  }
}
.note-editable{
  ul,ol{
    padding-left: 20px;
  }
}

/*RESET DE ELEMENTOS EN ESTRUCTURA DE DOCUMENTO*/
.bloque-por-hoja ul.elementos li div.content * {
    font-size: 12px!important;
    font-weight: normal!important;
    font-style: normal!important;
    color: #555!important;
    background: none!important;
    text-decoration: none!important;
}

.dnd-sortable-drag {
  border: 1px solid #f3f3f4;
  padding: 2px;
  box-shadow: 0 0 4px rgba(0,0,0,0.4);
}
