<div class="contenido-tools">
  <div class="inner">
    <div class="bloque-tool">
      <p class="titulo-bloque">
        Elementos
        <span class="hint-text">Agregue elementos nuevos o predefinidos</span>
      </p>
      <ul class="herramientas">
        <li><button (click)="addBlock()">Agregar texto</button></li>
        <li><button (click)="addBlock('signers')">Agregar firmantes</button></li>
        <li><button (click)="addBlock('declaration')">Agregar declaración</button></li>
        <li><button (click)="addBlock('lorem')">Agregar Lorem</button></li>
      </ul>
    </div>
  </div>
</div>
