<div class="contenido-tools">
  <div class="inner">
    <div class="bloque-tool">
      <p class="titulo-bloque">
        Elementos
        <span class="hint-text">Agregue elementos nuevos o predefinidos</span>
      </p>
      <ul class="herramientas">
        <li>
          <button (click)="addBlock()">
            <span class="glyphicon glyphicon-object-align-left"></span> Agregar texto
          </button>
        </li>
        <li>
          <button (click)="addBlock('space')">
            <span class="glyphicon glyphicon-pencil"></span> Agregar espacio
          </button>
        </li>
        <li>
          <button data-toggle="collapse" data-target="#firmantes">
            <span class="glyphicon glyphicon-leaf"></span> Agregar firmantes
          </button>
          <div id="firmantes" class="collapse inner-opt">
            <ul>
              <li *ngFor="let signer of signers;let i=index;">
                <input type="checkbox" [id]="'firmante'+i" [value]="signer.id"
                       (change)="addRemoveSignerToDoc(i)" [checked]="checkSigners[i]">
                <label [for]="'firmante'+i">{{signer.name}}</label>
              </li>
            </ul>
            <button (click)="addSelectedToDoc()" [disabled]="selectedSigners.length < 1">Agregrar seleccionados</button>
            <button (click)="addAllToDoc()">Agregra todos</button>
          </div>
        </li>
        <li>
          <button (click)="addBlock('declaration')">
            <span class="glyphicon glyphicon-list-alt"></span> Agregar declaración
          </button>
        </li>
        <li>
          <button (click)="addBlock('lorem')">
            <span class="glyphicon glyphicon-file"></span> Agregar Lorem
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>
