.contenido-tools{
  height: 100%;
  padding: 30px 20px;
  color:#555;
}

.bloque-tool {

    font-size: 14px;
    p.titulo-bloque {
      font-weight: bold;
      margin-bottom: 20px;
      padding-bottom: 10px;
      border-bottom: 1px solid #f3f3f4;;
      span.hint-text {
        display: block;
        font-size: 10px;
      }
    }

    ul.herramientas {
      list-style: none;
      li {
        margin-bottom: 10px;
        span{
          display: inline-block;
          vertical-align: middle;
          margin-right: 10px;
          color: #ed6811;
        }
        button {
          border: none;
          background: none;
          font-weight: bold;
          width: 100%;
          text-align: left;
          padding: 6px 10px;
          box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
        }
      }
    }

}
